html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
main{
    height:100%;
    width:100%;
    background-color: black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
     grid-template-areas: "top-left top-center top-right"
                          "top-left center bottom-right"
                          "bottom-left bottom-left bottom-right"
    ;  
    padding: 10px;
    gap: 20px;

}

.top-left{
    background-color: green;
    grid-area: top-left;
}
.top-center{
    background-color: aqua;
    grid-area: top-center;
 
}
.top-right{
    background-color: yellow;
    grid-area: top-right;
}
.center{
    background-color: red;
    grid-area:center;

}
.bottom-left{
    background-color: blue;
    grid-area:bottom-left;
}
.bottom-right{
    background-color: purple;
    grid-area: bottom-right;
}